/* toast.component.css */

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes shrink-width {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.3s ease-out;
}

.animate-shrink-width {
  animation: shrink-width 5s linear;
}
